/*----------
animation loading
-----------*/
.h_70{
  height: 90vh;
}
.bg_drop_color{
  overflow: hidden;
  background-color: var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  backdrop-filter: var(--backdrop-filter-blur);
}
.loading-content {
  box-shadow: 0px 0px 20px #cacaca, 0px 0px 20px #f6f6f6;
}
.loading-content__center-part {
  box-shadow: inset 5px 5px 20px #cfcfcf, inset -5px -5px 20px #fdfdfd;
}
.loading-content__loader {
  animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
}
.loading-content__loader-content {

  box-shadow: 0 0 10px 1px #59bfff;
}
/* Spin endless */
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
/*----------
  animation loding end
  -----------*/
