@media (max-width: 768px) and (min-width: 320px) {
  .section_title {
    margin-top: 40px;
  }
  .row {
    flex-direction: column-reverse;
  }
  .aboutRow,
  .projectRow {
    flex-direction: column;
  }
  .about_img {
    width: 100% !important;
    margin-bottom: 30px;
  }
  .about_text,
  .contact_form,
  .contact_info,
  .home_text,
  .home_img {
    width: 100% !important;
  }
  .portfolio_item {
    width: calc((100% / 1) - 30px);
  }
}
